body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}



.territory-img {
    position: absolute;
}

.workers-strip {
    float: right;
    padding-top: 15px;
    background-color: burlywood;
    font-size: 25px;
    font-family: fantasy;
    color: darkolivegreen;
    margin-right: 160px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.resource-quantity {
    background-color: grey;
    font-family: fantasy;
    font-size: 25px;
    border: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    color: goldenrod;
}

.resource-strip {
    width: 860px;
    height: 38px;
    padding-bottom: 25px;
}

.worker-allocation {
    background-color: burlywood;
    font-size: 25px;
    font-family: fantasy;
    color: darkolivegreen;
    right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    position: absolute;
}




.worker-allocation button {
    background-color: darkkhaki;
    margin: 5px;
    bottom: 3px;
    position: relative;
    /* padding-left: 3px; */
    /* height: 25px; */
    width: 30px;
    font-family: fantasy;
    font-size: 20px;
}


#game-board {
    position: absolute;
    top: 5%;
    left: 5%;
    /*transform: translate(-50%, -50%);*/
    background-color: steelblue;
    z-index: -1;
    width: 694px;
    height: 752px;
}

#hud {
    z-index: 100;
    
}














/*  Old stuff */


.quantity_display {
    position: relative;
    top: -8px;
    padding-top: 15px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 5px;
    background-color: #b3b592;
}

.quantity_display img {
    padding-left: 2px;
}

#resources {
    position: absolute;
    top: 0px;
    left: -50px;
}

.resource-icon {
    position: relative;
    top: 50px;
    left: 100px;
}

#personal {
    position: absolute;
    top: 0px;
    left: 150px;
}









.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}




.stat_1 {
    background-image: url('./img/territory_2.png');
}


























#territories {
    position: absolute;
    top: 40px;
    left: 100px;
}

#shadow_kingdom {
    position: absolute;
    top: 170px;
    left: 180px;
}

#lightening_kingdom {
    position: absolute;
    top: 170px;
    left: 440px;
}

#neutral_territory_1 {
    position: absolute;
    top: 245px;
    left: 310px;
}

#neutral_territory_2 {
    position: absolute;
    top: 95px;
    left: 310px;
}